<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title><%= artist.name %></title>
    </head>
    <body>
        <h1><%= artist.name %></h1>
        <h2>Album</h2>
        <ul>
            <% artist.albums.forEach( function ( album ) { %>
            <li><%= album.year %> - <%= album-title %></li>
            <li>
                <img src="/images/<%=album.image%>" alt="<%= album-title %>" width="" height="" >
            </li>
            <% } ); %>
        </ul>
        <h3>Shows</h3>
        <ul>
            <% artist.shows.forEach( function ( show ) { %>
            <li><%= show.city %></li>
            <% } ); %>
        </ul>
    </body>
</html>